NODE_ENV = "development"

JWT_SECRET = your secret

DATABASE_URL = postgres://user:password@localhost:port/example

BASE_URL = http://localhost:5173/

EMAIL_HOST = your host
EMAIL_SERVICE = your servie
EMAIL_PORT = your port
EMAIL_SECURE = true
EMAIL_USER = your email
EMAIL_SENHA = example

CLOUD_NAME = cloud name
CLOUD_API_KEY = example
CLOUD_SECRET = example

POSTGRES_USER = user
POSTGRES_PASSWORD = password
POSTGRES_DB = example